   *{
           margin: 0;
           padding: 0;
       }
           header,nav,main,footer{
               width: 1060px;
               height: 1500px;
           margin: 0 50px;
           padding:20px;    
           margin:auto;
       }
       header{
            background-color:deepskyblue;
            color:azure;
            text-align: center;
            /*width: 960px;*/
            height: 50px;         
       }
       nav{
           width: 1080px;
           height: 50px;
           padding: 10px;
           text-align: center;
           background-color: aqua; 
       }
       main{
           background-color:darkturquoise;
       }
       section{
           background-color: antiquewhite;
           width: 800px;    
           margin: 20px auto;
           padding: 30px;  
       }
           a{
           margin: 0 20Px;
           font-weight: bold;
           text-decoration: none;
       }
       a:link{
           color: brown;
       }
       a:visited{
           color: deeppink;
       }
       a:hover{
           color: chartreuse;
           text-decoration:underline;
       }


        #tabla_uno {
          width: 100%;
          border-collapse: collapse;
          
        }
        #tabla_uno th {
          background-color:aquamarine;
          border: 2px solid beige;
          padding: 8px;
        }
        #tabla_uno td {
          border: 2px solid beige;
          background-color: darkgreen;
          color: aliceblue;
          padding: 8px;
        }

       #tabla_dos{
           width: 70%;
           margin: 20px auto; 
           border-collapse: collapse;
       }
       #tabla_dos th{
            background-color: blueviolet;
            color: aqua;
           
        }
       #tabla_dos td {
           background-color:burlywood;
           color:aliceblue;
           font-weight: bold;
       }
       #tabla_dos th, #tabla_dos td{
           border: 2px solid purple;
       }
       #tabla_dos tbody td:hover{
           background-color: black;
           color: aliceblue;
       }


        #tabla_tres {
          width: 700px;
          margin: 20px auto;
         
        }
        #tabla_tres th{
             background-color:cyan;
             color: crimson;
        }
        #tabla_tres tr:nth-child(even) {
            background-color:darkblue;
            color:cornsilk;
        }
        #tabla_tres tr:nth-child(odd){
            background-color: crimson;
            color: cornsilk;
        }
        #tabla_tres tr:hover{
           background-color: black;
           color: aliceblue;
        }


       nav ul{
           list-style-type:square;
       }
       nav ul li{
           display:inline-block;
           border: 1px solid purple;
       }
        nav ul a{
           margin: 0 40Px;
           font-weight: bold;
           text-decoration: none;
       }
       nav ul a:link{
           
           color:darkorchid;
       }
       nav ul a:visited{
           color:darkorange;
       }
       nav ul a:hover{
           color:floralwhite;
           text-decoration:underline;
       }
       footer{
           background-color:aqua;
           text-align: center;
           height: 20px;
       }
